VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnYmZ0bHhzb3l3emdxdm92d2ZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4OTE1MTgsImV4cCI6MjA4NzQ2NzUxOH0.ib8k4LacZ6n2wEmXKeDfxmTbVzYqar6QBdMU5kdig3o
VITE_SUPABASE_URL=https://vgbftlxsoywzgqvovwfe.supabase.co
GEMINI_API_KEY=AIzaSyBOa2gCGENCqNejOEX84bfyLPaqkW01XqE

# 📧 SMTP Configuration (Resend)
SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_USER=resend
SMTP_PASS=re_j6vNWFnx_q9MhqD96WVtB1JsubKUoy5od
SMTP_FROM=onboarding@resend.dev

Resend_email=re_j6vNWFnx_q9MhqD96WVtB1JsubKUoy5od
